<h1>Add New Island</h1>
<%= simple_form_for [@island] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.submit "Save Island", class: "btn btn-primary" %>
<% end %>
