<div class="form-container form-small">
  <h1>Add New Island</h1>
  <%= simple_form_for [@island] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :price, label: "Price per day" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Save Island", class: "button-green" %>
  <% end %>
</div>
