<div class="show-container">
    <div class="show-text">
      <div>
        <p id="showpage-slogan">DISCOVER YOUR PARADISE</p>
        <h1><em>Exclusive island rentals await!</em></h1>
      </div>
      <div>
        <h2><%= @island.name %></h2>
        <p><i class="fa-solid fa-location-dot"></i> <strong><%= @island.location %></strong> | $<%= @island.price %> per day</p>
        <p><%= @island.description %></p>
      </div>


      <div class="edit-delete-links">
      <% if current_user.id == @island.user_id%>
        <%= link_to "Edit",
          edit_island_path(@island)
        %> |
        <%= link_to "Delete",
          island_path(@island),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      <% end %>
      </div>
    </div>
      <div class="show-image">
        <img src="<%= @island.image %>" alt="<%= @island.name %>">
      </div>
    </div>

<div class="form-container">
 <% unless current_user.id == @island.user_id%>
        <h1>Book Your Island Vacation</h1>
        <%= simple_form_for [@island, @bookings] do |f| %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= f.input :number_of_guests %>
          <%= f.submit "Send Booking Request", class: "button-green"%>
        <% end %>
  <% end %>
</div>
