<div class="card-container">
  <div class="cards">
    <% @islands.each do |island| %>
        <a href="<%= island_path(island) %>" class="card-link">
          <div class="card">
            <img src="<%= island.image %>" alt="<%= island.name %>">
            <h2><%= island.name %></h2>
            <p><i class="fa-solid fa-location-dot"></i> <strong><%= island.location %></strong> | <em>$<%= island.price %>/day</em></p>
            <p><%= island.description %></p>
          </div>
        </a>
    <% end %>
  </div>
</div>
