<nav class="navbar">
  <div class="navbar-content">
    <ul class="navbar-menu">
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <a class="navbar-brand" href="<%= root_path %>">PARADISE ESCAPE</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>

      <div class="dropdown">
        <% if user_signed_in? %>
        <button class="btn dropdown-toggle btn-navbar-green" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          My Actions
        </button>
           <ul class="dropdown-menu dropdown-menu-green" aria-labelledby="dropdownMenuButton2">
            <li class="nav-item dropdown">
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            </li>
            <li class="nav-item dropdown">
              <%= link_to "Add Island", new_island_path, class: "dropdown-item" %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item dropdown">
             <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </li>
           </ul>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
        <% end %>
    </ul>
  </div>
</nav>
