<h1>User Dashboard</h1>

<h2>My Islands</h2>
<ul>
  <% @islands.each do |island|%>
    <li> <%=  island.name %> | <%= island.location %> </li>
  <% end %>
</ul>

<h2>My Bookings</h2>
  <% unless @bookings.empty? %>
      <% @user_bookings.each do |booking|%>
        <li> Booking ID: <%=  booking.id %> | Island ID: <%= booking.island_id %> | Booking status: <%= booking.status %> | Number of guests: <%= booking.number_of_guests %> </li>
      <% end %>
    <% else %>
      <p>No bookings yet.</p>
  <% end %>

<h2>Bookings for My Islands</h2>
  <% unless @bookings.empty? %>
      <% @bookings.each do |booking|%>
        <li>
        Booking ID: <%=  booking.id %> | Island ID: <%= booking.island_id %> Booking status: <%= booking.status %> | Number of guests: <%= booking.number_of_guests %>
        <%= link_to "Accept", booking_path(booking, status: true), data:{turbo_method: :patch} %>
        <%= link_to "Decline", booking_path(booking, status: false), data:{turbo_method: :patch} %>
        </li>
      <% end %>
    <% else %>
      <p>No bookings yet.</p>
  <% end %>
